html, body { padding: 0; margin: 0; }
.game-bounds { width: 98%; padding: 0;  }
.game-bounds .score { width: 15%; float: left; background-color: #EEE; padding: 10px; }
.game-bounds .game { width: 83%; height: 100%; float: left; }

.game { text-align: center; position: relative; }
.ad { display: inline-block; position: fixed; z-index: 99999; }
.target { position: absolute; z-index: 0; max-width: 200px; max-height: 200px; }

.ad-300x250 { width: 300px; height: 250px; }
.ad-468x60 { width: 468px; height: 60px; }
.ad-120x600 { width: 120px; height: 600px; }

.start { height: 40px; width: 200px; font-size: 22px; }
